@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    &copy; Copyright 2020, <code><a href="https://github.com/mrsithu">Mr.Sithu</a></code><br />
    CC Technology. All right reserved.
</p>
